@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
h5,
h6 p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: 140%;
  font-size: 16px;
  color: #353842;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*::selection {
  background: #fff;
  color: #000;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  line-height: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.btn:active {
  transform: translateY(2px);
}

.fillBtn {
  background: #1a3260;
  color: #fff;
}

.ghostBtn {
  background-color: transparent;
  color: #ddcfc6;
  border-color: #fff;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 60px 30px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 60px;
}

.modal__content .close-modal {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 15px;
}

.modal__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #353842;
  margin-bottom: 10px;
}

.modal__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #353842;
  margin-bottom: 20px;
}

.modal__image {
  overflow: hidden;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 322px;
  width: 100%;
}

.modal__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header {
  z-index: 10;
  background: #ebf2ff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0px 4px 16px rgba(71, 88, 113, 0.16);
}

.header__wrapper {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__logo {
  display: flex;
}

.header__logo img {
  width: 116px;
  height: 70px;
  margin-right: 15px;
}

.header__logo .logo-title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #1a3260;
  display: block;
}

.header__logo .logo_descr {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #353842;
}

.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav .header__link {
  padding: 5px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #353842;
}

.header__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #1a3260;
}

.header__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-decoration-line: underline;
  color: #353842;
}

.main-screen {
  background: #ebf2ff;
  padding-top: 100px;
}

.main-screen__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.main-screen__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #353842;
  margin-bottom: 10px;
}

.main-screen__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #353842;
  margin-bottom: 30px;
}

.main-screen__image {
  flex-shrink: 0;
  width: 630px;
  height: 630px;
  margin-top: auto;
}

.main-screen__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.teasers {
  position: relative;
  height: 0;
}

.teasers .teasers__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

.teasers .teasers__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(71, 88, 113, 0.16);
  border-radius: 16px;
  position: relative;
}

.teasers .teasers__list::before {
  position: absolute;
  content: "";
  left: -30px;
  top: -15px;
  width: 124px;
  height: 124px;
  background-color: #dce3f1;
  border-radius: 50%;
  z-index: -1;
}

.teasers .teasers__list::after {
  position: absolute;
  content: "";
  left: -84px;
  top: -68px;
  width: 236px;
  height: 236px;
  background-color: transparent;
  border: 1px solid #dce3f1;
  border-radius: 50%;
  z-index: -1;
}

.teasers .teasers__item {
  width: 25%;
  position: relative;
  padding-left: 12px;
}

.teasers .teasers__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(180deg, #588eb4 0%, rgba(88, 142, 180, 0) 100%);
}

.teasers .teasers__item .num {
  position: relative;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #1a3260;
  margin-bottom: 4px;
  display: block;
  z-index: 2;
}

.teasers .teasers__item .num:before {
  display: block;
  z-index: -1;
  position: absolute;
  content: "";
  right: -5px;
  bottom: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #588eb4;
}

.teasers .teasers__item .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #353842;
}

.services {
  position: relative;
  padding-bottom: 74px;
  padding-top: 146px;
  background: #1a3260;
}

.services .section-title {
  color: #fff;
}

.ball-shape {
  position: absolute;
  right: 5%;
  top: 50px;
  width: 392px;
  height: 392px;
  border-radius: 50%;
  border: 1px solid #2e4674;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-shape .small-ball-shape {
  background: #2e4674;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  background-color: #2e4674;
}

.service {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: stretch;
}

.service:not(:last-child) {
  margin-bottom: 30px;
}

.service .btn {
  background-color: #fff;
  color: #1a3260;
}

.service__image {
  border-radius: 8px;
  overflow: hidden;
}

.service__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__data {
  flex-shrink: 0;
  background: #243c6a;
  border-radius: 8px;
  padding: 30px;
  max-width: 410px;
  width: 100%;
}

.service__ico {
  background: #588eb4;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__desc {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 30px;
}

.labs__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.labs {
  padding: 60px 0;
  padding-top: 120px;
  position: relative;
}

.labs .ball-shape {
  position: absolute;
  left: 5%;
  top: 222px;
  width: 526px;
  height: 526px;
  border-radius: 50%;
  border: 1px solid #dce3f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labs .ball-shape .small-ball-shape {
  background: #2e4674;
  width: 345px;
  height: 345px;
  border-radius: 50%;
  background: #dce3f1;
}

.lab-item {
  position: relative;
  width: 410px;
  height: 380px;
  background: #f0f2f7;
  border-radius: 8px;
  overflow: hidden;
  padding: 30px;
}

.lab-item .service__ico {
  background: #1a3260;
}

.lab-item > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lab-item .service__desc,
.lab-item .service__title {
  color: #353842;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.lab-item .service__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.lab-item.has-images {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.lab-item .lab-img {
  width: 190px;
  height: 175px;
  border-radius: 8px;
  overflow: hidden;
}

.lab-item .lab-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  background: #fafafa;
  padding: 60px 0;
}

.about__wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}

.about__papers {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about__paper {
  width: 300px;
  height: 424px;
}

.about__paper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.some-text {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1a3260;
}

.contacts {
  padding: 60px 0;
}

.contacts .section-title {
  text-align: center;
}

.contacts__list {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts__list .ico {
  width: 48px;
  height: 48px;
  background: #1a3260;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__list .contacts__item {
  display: flex;
  gap: 9px;
}

.contacts__list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #353842;
}

.contacts__list .descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #9b9b9b;
}

.footer {
  padding: 30px 0;
  background: #1d1d1f;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.footer__wrapper .footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #9b9b9b;
}

.footer__wrapper .footer__dev {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #9b9b9b;
  align-items: center;
  display: flex;
  gap: 10px;
}

.map-wrapper {
  border-radius: 32px;
  background: #fafafa;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 98%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .container {
    padding: 0 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}